--
-- PostgreSQL database dump
--

\restrict PElivwLsu4ssSelfz2NhWMqTDxhTimrYpNE78VHvucByFc2YIDWNQtjwvaXdKyT

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blacklist; Type: TABLE; Schema: public; Owner: bb_operator
--

CREATE TABLE public.blacklist (
    id integer NOT NULL,
    phone character varying(20),
    reason text,
    reported_by bigint,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.blacklist OWNER TO bb_operator;

--
-- Name: blacklist_id_seq; Type: SEQUENCE; Schema: public; Owner: bb_operator
--

CREATE SEQUENCE public.blacklist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.blacklist_id_seq OWNER TO bb_operator;

--
-- Name: blacklist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bb_operator
--

ALTER SEQUENCE public.blacklist_id_seq OWNED BY public.blacklist.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: bb_operator
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    telegram_id bigint,
    amount integer,
    mpesa_reference text,
    status text,
    package_days integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO bb_operator;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: bb_operator
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO bb_operator;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bb_operator
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: providers; Type: TABLE; Schema: public; Owner: bb_operator
--

CREATE TABLE public.providers (
    id integer NOT NULL,
    telegram_id bigint NOT NULL,
    display_name character varying(100),
    city character varying(50),
    neighborhood character varying(50),
    is_verified boolean DEFAULT false,
    is_active boolean DEFAULT false,
    credits integer DEFAULT 0,
    expiry_date timestamp without time zone,
    verification_photo_id text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    profile_image_url text,
    phone character varying(20),
    is_online boolean DEFAULT false
);


ALTER TABLE public.providers OWNER TO bb_operator;

--
-- Name: providers_id_seq; Type: SEQUENCE; Schema: public; Owner: bb_operator
--

CREATE SEQUENCE public.providers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.providers_id_seq OWNER TO bb_operator;

--
-- Name: providers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bb_operator
--

ALTER SEQUENCE public.providers_id_seq OWNED BY public.providers.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: bb_operator
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    telegram_id bigint,
    check_in_time timestamp without time zone DEFAULT now(),
    expected_check_back timestamp without time zone,
    is_active boolean DEFAULT true,
    admin_alerted boolean DEFAULT false
);


ALTER TABLE public.sessions OWNER TO bb_operator;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: bb_operator
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sessions_id_seq OWNER TO bb_operator;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bb_operator
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: blacklist id; Type: DEFAULT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.blacklist ALTER COLUMN id SET DEFAULT nextval('public.blacklist_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: providers id; Type: DEFAULT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.providers ALTER COLUMN id SET DEFAULT nextval('public.providers_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Data for Name: blacklist; Type: TABLE DATA; Schema: public; Owner: bb_operator
--

COPY public.blacklist (id, phone, reason, reported_by, created_at) FROM stdin;
1	0712345678	Did not pay aggressive	7894569313	2026-01-20 13:43:14.485325
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: bb_operator
--

COPY public.payments (id, telegram_id, amount, mpesa_reference, status, package_days, created_at) FROM stdin;
\.


--
-- Data for Name: providers; Type: TABLE DATA; Schema: public; Owner: bb_operator
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: bb_operator
--

COPY public.sessions (id, telegram_id, check_in_time, expected_check_back, is_active, admin_alerted) FROM stdin;
1	7894569313	2026-01-20 13:49:46.174975	2026-01-20 15:20:35.116758	f	f
\.


--
-- Name: blacklist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bb_operator
--

SELECT pg_catalog.setval('public.blacklist_id_seq', 1, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bb_operator
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: providers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bb_operator
--

SELECT pg_catalog.setval('public.providers_id_seq', 5, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bb_operator
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, true);


--
-- Name: blacklist blacklist_phone_key; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.blacklist
    ADD CONSTRAINT blacklist_phone_key UNIQUE (phone);


--
-- Name: blacklist blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.blacklist
    ADD CONSTRAINT blacklist_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: providers providers_pkey; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (id);


--
-- Name: providers providers_telegram_id_key; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.providers
    ADD CONSTRAINT providers_telegram_id_key UNIQUE (telegram_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: bb_operator
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict PElivwLsu4ssSelfz2NhWMqTDxhTimrYpNE78VHvucByFc2YIDWNQtjwvaXdKyT

